[submodule "EcoRide-frontend"]
	path = EcoRide-frontend
	url = git@github.com:Fogulus/EcoRide-frontend.git
[submodule "EcoRide-backend"]
	path = EcoRide-backend
	url = git@github.com:Fogulus/EcoRide-backend.git
